@import "grid";
@import "mixins";

* {
  font-family: Libre Baskerville, serif;
}

a {
  color: #383838;
}

a:visited {
  color: dimgrey;
}

hr {
  border-style: solid;
  color: dimgrey;
}

hr.double {
  padding: 2px;
  border-left: none;
  border-right: none;
  border-top: 2px solid;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.83em;
  font-weight: 400;
  font-style: normal;
  line-height: 48px;
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.83em 0;

  .small-uppercase {
    margin: 0;
    font-weight: 400;
  }
}

.home, .volume {
  h1 {
    margin-bottom: 0.415em;
  }

  h1 + p.small-uppercase {
    margin: 0;
  }

  [itemProp="alternativeHeadline"] {
    margin-top: 0;
  }
}

[itemProp="alternativeHeadline"] {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  line-height: 48px;
  align-items: center;
}
[itemProp="alternativeHeadline"] em {
  font-style: normal;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  a {
    text-decoration: none;
  }
}

header * {
  text-align: center;
}
header p {
  text-align: center;
}
section p {
  text-align: left;
  margin-left: 8px;
}

.wrapper {
  flex: 1 1 auto;
  flex-direction: row;
  display: flex;
}

p, .small-uppercase {
  font-size: 16px;
  line-height: 1.5em;
  margin: 1.5em 0;

  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}
.small-uppercase, .smaller-uppercase {
  word-spacing: 0.2em;
  letter-spacing: 0.4em;
}

.small-uppercase {
  font-size: 16px;
  text-transform: uppercase;
}

.smaller-uppercase {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  &.initial {
    .first-word {
      font-variant: small-caps;
      font-size: 26px;
      letter-spacing: 2px;
    }
    &:first-letter {
      line-height: 48px;
      float: left;
      font-size: 42px;
    }
  }
  &.indentation {
    text-indent: 1.5em;
  }
  em {
    font-variant: small-caps;
    font-style: normal;
    letter-spacing: 1px;
  }
}

.flower, .order, .class {
  h1 {
    margin: 0.83em 0 0 0;
  }

  h2 {
    text-transform:inherit;
    font-variant: small-caps;
  }

  .mdl-grid {
    align-items: flex-start;
    justify-content: space-around;
  }
}


[itemProp="alternateName"] {
  display: block;
  text-align: center;
  margin-bottom: 0.83em;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  line-height: 48px;
  text-transform: uppercase;
  align-items: center;
  margin: 0.83em 0;

  .small-uppercase {
    margin: 0;
  }
}
.volume-index {
  font-size: large;
}

figure {
  blockquote {
    text-align: center;

    + figcaption {
      text-align: right;
    }
  }
}

.itemProp {
  display: none;
}

[itemType='http://schema.org/BreadcrumbList'] {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  li a {
    display: block;
    padding: 4px;
    font-size: smaller;
  }
}

dl {
  font-size: 14px;
  line-height: 16px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  dt {
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 3px;
  }

  dd {
    margin-left: 1.5em;
    &.class-and-order {
      font-variant: small-caps;
      font-style: normal;
      letter-spacing: 1px;
    }
  }
}

.illustration {
  .plate__number {
    font-size: 20px;
    color: #383838;
  }
  img {
    max-width: 100%;
  }
  figcaption {
    text-align: center;
  }
}

footer {
  text-align: center;
  color: grey;

  a {
    color: grey;
  }

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0;
      padding-left: 6px;
    }
  }
}

.taxonomy {
  list-style-type: upper-roman;
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  height: 1500px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  li {
    width: 180px;
  }

  > li {
    margin: 4px;
  }
}

.page-link {
  @include shadow-6dp();
  border-radius: 2px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 24px 16px 24px 16px;
  background-color: white;
  font-variant: small-caps;
  text-decoration: none;
  &.page-link--next {
    right: 0;
  }

  &.page-link--previous {
    left: 0;
  }
}

.plates {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.plate {
  @include shadow-2dp();
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
  position: relative;

  .plate__background {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-size: cover;
    background-position: top;
  }

  .plate__text {
    padding: 24px 16px 24px 16px;
  }

  .plate__title {
    margin: 0;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 1.17em;
  }

  .plate__alternate, [itemProp="alternateName"] {
    color: rgba(0,0,0,.54);
    line-height: 18px;
    overflow: hidden;
    margin: 0;
    text-align: left;
    font-size: 14px;
  }
}

.plate__number {
  position: absolute;
  right: 16px;
  top: 16px;
  font-family: 'Pinyon Script', cursive;
}

.plate--thumbnail {
  margin: .84em;
  .plate__background {
    height: 14em;
  }
}